*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/pattern.png');
    height: 20%;
    background-size: 30%;
    background-position: center;
    background-color: rgb(78, 160, 255);
}
#logo-booleaner{
width: 20%;
height: 10%;
margin-top: 5%;
margin-left: 1%;
}

main{
    margin-top: 2%;
    margin-left: 1%;
    font-size:small;
}
#main-title{
    font-size: 3em;
}
.references{
    font-size: 0.8em;
    color: grey;
}
.references span{
    color: #3AB3E8;
}
.date{
    font-size:0.5em;
}
#section-title-image{
    margin: 1%;
}
#title-image1{
    padding: 1%;
    width: 35%;
}
#title-image2{
    padding: 1%;
    width: 35%;
   
}
.caption{
    font-size: 0.3em;
}
p{
    margin-top: 2%;
    margin-top: 2%;
}
.text-yellow{
    background-color: yellow;
}
table{
    width: 100%;margin: auto;
}
#table-head{
    background-color: #20A9E5;
    color: white;
}
tr{
    height: 20%;
}
.table-background-blu{
    background-color:#B1E5F2;
}